<div class="row">
  <aside class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
      <div class="card-footer text-muted">
        <h3 class="card-title"><%= @user.name %></h3>
        <%= link_to '変更', edit_user_path %>
      </div>
    </div>
  </aside>
  <div class="col-sm-9">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">ポートフォリオ</a></li>
      <li class="nav-item"><a href="#" class="nav-link">配当金カレンダー・グラフ</a></li>
    </ul>
  </div>
</div>